<div class="bloc-content text-content contents">

	<ul>
		<li>
			10 new input types
			<ul>
				<li><strong>email</strong>, <strong>url</strong> </li>
				<li><strong>number</strong>, <strong>range</strong> </li>
				<li><strong>date</strong>, <strong>month</strong> </li>
				<li><strong>week</strong>, <strong>time</strong> </li>
				<li><strong>search</strong>, <strong>color</strong> </li>
			</ul>
		</li>
		<li>
			They are interesting because they let the browser make something which 
			was often done programmatically with javascript before:
			<ul>
				<li>Display a custom component to pick the value: date/color/...</li>
			 	<li>Validate an email, an url (...) automatically</li>
			</ul>
		</li>
	</ul>

</div>
