<div class="bloc-content text-content">
        <ul class="two_column">
        	<li><a href="http://caniuse.com" target="_blank">http://caniuse.com</a></li>
            <li><a href="http://html5please.com" target="_blank">http://html5please.com</a></li>
            <li><a href="http://html5doctor.com/" target="_blank">http://html5doctor.com/</a> <span class="todo">A mettre pour html5-css plutot</span></li>
            <li><a href="http://haz.io/" target="_blank">http://haz.io/</a></li>
            <li><a href="http://www.whatwg.org/" target="_blank">http://www.whatwg.org/</a></li>
        </ul>
    <img src="images/1080a960.caniuse.png" alt=""/>
</div>