<div class="bloc-content text-content">
    <p>Now, if you have to make many feature tests in your application</p>
    <ul>
        <li>There is a library to help you : <a href="http://modernizr.com/" target="_blank">Modernizr</a></li>
        <li>What does it do ?</li>
        <ol>
            <li>Add classes indicating feature support, allowing you to apply style to elements</li>
            <li>Allow you to run feature detection</li>
            <li>Inject <a href="https://code.google.com/p/html5shiv/" target="_blank">html5shiv</a></li>
        </ol>
    </ul>

    <ul class="small">
        <li>Install</li>
        <ul >
            <li><a href="http://bower.io/" target="_blank">Bower</a> user ? <i>bower install modernizr --save</i></li>
            <li><a href="http://gruntjs.com/" target="_blank">Grunt</a> user ? use <a href="https://github.com/Modernizr/grunt-modernizr" target="_blank">grunt-modernizr</a> </li>
            <li>Want to check only some functionalities? use the <a href="http://modernizr.com/download/">custom builder</a></li>
        </ul>
    </ul>

</div>