<div>

	<h1>HTML5 - Basis - Syntax &amp; Vocabulary (...)</h1>


	<ul>
		<li>
			<code>html </code>
			is the name of the <strong>element</strong> / <strong>tag</strong>
		</li>
		<li>
			<code>lang </code>
			is an <strong>attribute</strong> available for the html element.
		</li>
		<li>
			<code>en</code>
			is the <strong>value</strong>  applied to the lang attribute.
		</li>
		<li>
		Finally, <b>html</b> is only:
		<code>&lt;element attribute="value"&gt;content&lt;/element&gt;</code>
		</li>
	</ul>


</div>