<div>
	<h1>HTML5 - Classes</h1>

	<ul>
		<li class="bigtext">
			<strong>class</strong> is an <strong>html attribute</strong>, not specific to stylesheets
		</li>
		<li class="bigtext">
			They are <strong>exceptions</strong> to a whole
		</li>
		<li>
			Used to treat exceptions:
			My titles are red by default, <strong>except</strong> these ones...
		</li>
		<li>
			Remember to always make as simple as possible, don't pollute stylesheets with too much classes
		</li>
	</ul>

	<p>

	</p>


</div>