<div>
	<h1>HTML5 - Classes (...)</h1>

	<sdco-editor compile="false">
		<sdco-editor-tab type="html" heading="sample.html">
&lt;ul class=“tabs”&gt;
	&lt;li&gt;&lt;a href=“#”&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
	&lt;li class=“active”&gt;&lt;a href=“#”&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=“#”&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
		</sdco-editor-tab>
	</sdco-editor>

	<ul>
		<li> <strong>tabs</strong> allow to differentiate *this* list from other lists</li>
		<li> <strong>active</strong> implies that this list item is in a different state</li>
	</ul>

</div>