<div>

	<h1>HTML5 - Forms - About Inputs - Data, Time &amp; Co</h1>

	<ul>
		<li>
			<strong>date</strong>/<strong>month</strong>/<strong>week</strong>/<strong>time</strong>
			<ul>
				<li>Custom user interface component</li>
				<li>
				Data submit respect the  <a href="http://tools.ietf.org/html/rfc3339" target="_blank"> rfc3339 </a> format,
				but in the field, data is displayed depending on the browser user locale
				</li>
			</ul>
		</li>
	</ul>

	<sdco-editor compile="true" js-fiddle="true">
		<sdco-editor-tab type="html" heading="sample.html">

&lt;form&gt;
	&lt;input type="date" /&gt;
	&lt;input type="month" /&gt;
	&lt;input type="week" /&gt;
	&lt;input type="time" /&gt;
&lt;/form&gt;

		</sdco-editor-tab>
	</sdco-editor>

</div>
