<div>

	<h1>HTML5 - Forms - About Inputs - Search &amp; Color</h1>

	<ul>
		<li>
			<strong>Search</strong> and <strong>color</strong>: Just custom UI behavior
		</li>
		
	</ul>

	<sdco-editor compile="true" js-fiddle="true" height="250">
		<sdco-editor-tab type="html" heading="sample.html">

&lt;form&gt;
	&lt;!-- the clear button is not displayed because of bootstrap --&gt;
	&lt;input type="search" /&gt; 
	&lt;input type="color" /&gt;
&lt;/form&gt;

		</sdco-editor-tab>
	</sdco-editor>

</div>
