<div>
	<h1>HTML5 - History</h1>

	<ul>
		<li>
			Created by <i>Tim Berners-Lee</i> in 1980 for the CERN (European Organization for Nuclear Research)
		</li>
		<li>
			Based on SGML (Standard Generalized Markup Language), 
			HTML (HyperText Markup Language) starts with 18 elements.
		</li>
		<li> Standards:
			<ul>
				<li> 
					W3C (World Wide Web Consortium): 1994
				</li>
				<li>
					WHATWG (Web Hypertext Application Technology Working Group): 2004
				</li>
				<li> Initially worked together but are now independant, who is right? </li>
			</ul>
		</li>
	</ul>


</div>