<div>
	<h1>HTML5 - Id</h1>

	<ul>
		<li class="bigtext">Id is an attribute</li>
		<li>They target a unique piece of content, allowing it to be referenced elsewhere</li>
	</ul>	

	<sdco-editor compile="false">
		<sdco-editor-tab type="html" heading="sample.html">
&lt;p&gt;
	&lt;label for=“fName”&gt;First name:&lt;/label&gt; 
	&lt;input type=“text” id=“fName” name=“fName” /&gt;
&lt;/p&gt;
		</sdco-editor-tab>
	</sdco-editor>

	<ul>
		<li> The id « fName » allows the tag label to be « attached » to its input.</li>
		<li> 
			The attribution of ids and classes must be well considered 
			and balanced. Not too much, not too few. As it must.
		</li>
	</ul>





</div>