<div>
	<h1>HTML5 - Progression - better way</h1>

	<ul>
		<li>Separate <strong>content</strong> (data) from print instructions or <strong>presentation</strong></li>
		<li>Define a « Lingua Franca » (standards)</li>
		<li>
			give the <strong>content</strong> the information needed so it could be interpreted correctly only 
			by its <strong>nature</strong> or <strong>role</strong></li>
		<li>
			HTML does that by marking-up (or labeling) the content based on its function on the document
			<ul>
				<li>This is a title</li>
				<li>This is a paragraph</li>
				<li>...</li>
			</ul>
		</li>
		<li>
			Once something is "labeled", we know what we're supposed to do with them.
		</li>
	</ul>

</div>