<div>

	<h1>HTML5 - Practical Works </h1>

	<ul class="horizontal-split">
		<li>
			<a href="data/imgs/PinIt.png" target="_blank">
				<img src="data/imgs/PinIt.png" style="width:10em;" />
			</a>
		</li>
		<li>
			<a href="data/imgs/outline.jpg" target="_blank">
				<img src="data/imgs/outline.jpg" style="width:10em;" />
			</a>
		</li>
	</ul>

	<ul>
		<li>
		Consider the two documents above and make your own web page using HTML5 tags
		 which respect the same structure (don't consider presentation aspect, just content)
		 	<ul>
		 		<li>
					The image on the left represent a web page developped with HTML5
		 		</li>
		 		<li>
		 			The image on the right is the <i>outline</i> of the page
		 		</li>
		 	</ul>
		</li>
	</ul>

</div>