<div>

	<h1>HTML5 - Semantic</h1>

	<pre>
		<code>
&lt;ul&gt;
	&lt;li&gt;Adds complexity&lt;/li&gt;
	&lt;li&gt;No, wait!!! There are tools for those tools!!!! (try stylus, jsFiddle, CodePen) And you can pay for that too!!! (Mac, $25 LiveReload, 10)&lt;/li&gt;
	&lt;li&gt;Manage large color palettes (ha!! Who needs that?!)&lt;/li&gt;
	&lt;li&gt;Reduce mental effort?? (like commonly used color??! Using variables? Really, is color management THAT hard?!)&lt;/li&gt;
&lt;/ul&gt;		
		</code>
	</pre>

	<p>
Let’s get back to our list. Using the proper semantic tags the browser (any web user agent)
won’t make any effort to undertand and interpret the content.
It knows it is a list of 4 items.
	</p>	

</div>