<div class="bloc-content text-content">

	<ol>
		<li>Performance</li>
		<li>Speed</li>
		<li>Reduce waiting times</li>
		<li>Launch while offline</li>
	</ol>

	<editor editor-options="{height:400,angular:false}">
		<file type="javascript" name="script.js">
interface Storage {
	readonly attribute unsigned long length;

	DOMString key(in unsigned long index);

	getter any getItem(in DOMString key);

	setter creator void setItem(in DOMString key, in any value);

	deleter void removeItem(in DOMString key);

	void clear();
}

		</file>	
	</editor>	
</div>