<div class="bloc-content text-content">

<div class="todo"> 
Ca marche pas mais c'est normal, donc à supprimer ou modifier, 
voir <a href="https://code.google.com/p/chromium/issues/detail?id=48159">ici</a>
</div>

	<ul>
		<li>The spec outlines a storage event</li>
		<li>Used to listen for storage changes</li>
	</ul>

	
	<button id="storage">Get Storage</button>
	<p>
		Value from the localStorage
	</p>

	<editor editor-options="{height:400,angular:false}">
		<file type="javascript" name="script.js">
var button = document.getElementById("storage");

button.removeEventListener("click");
window.removeEventListener("storage");

window.addEventListener("storage", function(e){
    document.querySelector("#storage ~ p").innerHTML = e.newValue;
});

button.addEventListener("click", function(){
	localStorage.setItem("test2", "new value");
});

		</file>	
	</editor>	



</div>