<div class="bloc-content text-content">
    <p>A key-value database aka <span class="text-red">DOM Storage</span></p>
    <p class="small"><span class="text-red">localStorage</span> : store data (indefinitely) on the client.</p>
    <p class="small"><span class="text-red">sessionStorage</span>: stored data (for the lifecycle of one tab) on the client.</p>
    <p>Both extends the Storage interface</p>
	<editor editor-options="{height:400,angular:false}">
<file type="oop">interface Storage {
	readonly attribute unsigned long length;

	DOMString key(in unsigned long index);

	getter any getItem(in DOMString key);

	setter creator void setItem(in DOMString key, in any value);

	deleter void removeItem(in DOMString key);

	void clear();
}</file>
	</editor>	
</div>