<div class="bloc-content text-content">

	<ul>
		<li>Call the getItem method of the localStorage object</li>
	</ul>

	
	<button id="storage">Get Storage</button>
	<p>
		Value from the localStorage
	</p>

	<editor editor-options="{height:400,angular:false}">
		<file type="javascript" name="script.js">

var button = document.getElementById("storage");

button.removeEventListener("click");

button.addEventListener("click", function(){
	document.querySelector("#storage ~ p").innerHTML = localStorage.getItem("test");

    //Or you can use the JS setter syntax
    //document.querySelector("#storage ~ p").innerHTML = localStorage.test;
});
		</file>	
	</editor>	



</div>