<!--

Seuls les éléments dans le <body> seront visibles dans votre browser. 

Vous pouvez avoir des éléments HTML dans d'autres HTML. La seule restriction c'est de garder un code XML valide. 
Il faut par exemple fermer une balise enfant avant de fermer le parent. 

-->

<div class="bloc-content text-content">

	<editor show-preview="false" editor-options="{height: 250}"> 	
		<file type="html" name="index.html">
&lt;html&gt;
	&lt;head&gt;
		&lt;title&gt;Browser Title&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;h1&gt;Main Title&lt;/h1&gt;
		&lt;img src="images/lille.jpg" /&gt;
	&lt;/body&gt;
&lt;/html&gt;
		</file>	
	</editor>	
	
	<ul>
	 	<li>
	        <code>head, body, title, h1 and img</code> are HTML elements
	    </li> 
	    <li>
	        <code>html</code>
	        The beginning/container of the whole document
        </li>
        <li>
	        <code>head</code>
	        Give informations concerning the document: title, metadata, js scripts, stylesheets...
        </li>
    	<li>
    		<code>body</code>
    		The beginning of the page content.
    		Define the visible part of the document.
    	</li>
    	<li>An HTML element can be configured with attributes (<code>src</code>)</li>
    </ul>

</div>