<div class="bloc-content text-content">


	<ul>
		<li>
			The DOCTYPE element allows to specify a DTD (Document Type Declaration).
			<ul>
				<li>
					Exemple:
							<pre style="display:inline;">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"&gt;</pre>
			</ul>
		</li>
		<li>
			Previously, 6 DTD availables to declare your document:
			<ul>
				<li>2 versions for each type: transitional, strict, frameset </li>
			</ul>
		</li>
		<li>
			With HTML5:
			<code>
				&lt;!DOCTYPE HTML&gt;
			</code>
		</li>
	</ul>
	
</div>