<div class="bloc-content text-content">

	<ul>
		<li>
			About standards
			<ul>
				<li>
					Before going further, a remark.
					The HTML5 standaard is now maintained by 2 separated organisations
					<ul>
						<li>
							<strong>W3C</strong>: 
							Which releases the <i>snapshot</i> standard
						</li>
						<li>
							<strong>WHATWG</strong>:
							Which maintains a <i>living standard</i>, which evoluates continuously.
						</li>
					</ul>
				</li>
				<li>
					Those organizations communicate together, but you will not necessarily find the same
					documentation on both, more info
					<a href="http://wiki.whatwg.org/wiki/FAQ#WHATWG_and_the_W3C_HTML_WG" target="_blank">here</a>
				</li>
				<li>
					This also mean that information available in these slides can evolve
				</li>
			</ul>
		</li>
	</ul>

</div>