<!--
	Attention avec les caractères spéciaux. Si on reprend l'exemple ci dessous, 
	on peut mettre un ', mais pas ". Il faudra ajouter un \ devant le caractère pour
	pouvoir l'utiliser. 

	Pour votre culture, l'attribut lang est utilisé pour déterminé la langue principale de votre page. Vous pouvez la redéfinir 
	dans votre HTML. Elle sera utilisée notamment par les synthétiseurs vocaux. 
-->

<div class="bloc-content text-content">


	<ul>
		<li>
			<code>html </code>
			is the name of the <strong>element</strong> / <strong>tag</strong>
		</li>
		<li>
			<code>lang </code>
			is an <strong>attribute</strong> available for the html element.
		</li>
		<li>
			<code>en</code>
			is the <strong>value</strong>  applied to the lang attribute.
		</li>
	</ul>

	<editor show-preview="true" height="200"> 	
		<file type="html" name="index.html">
&lt;html lang="en"&gt;

&lt;/html&gt;
		</file>
	</editor>

</div>