<div class="bloc-content text-content">
    <table>
        <tr>
            <td width="60%">
                <ul>
                    <li>Html5 is a <span class="text-red">collection of individual features</span> and Not a big thing</li>
                    <li>It regroup under it's name a plethora of APIs</li>
                    <li>Leads the Browser to different level of support for these APIs</li>
                </ul>
            </td>
            <td width="40%"><img src="images/HTML5-all.png" width="650em"/></td>
        </tr>
    </table>


</div>