<div class="bloc-content text-content">
    <ul>
        <li>The typical question : Does my Browser support this feature ?</li>
        <ul>
            <li>Yes, this is supported ! 8) </li>
            <li>No  -_-;</li>
            <ul>
                <li>This functionality is part of an API ?</li>
                <ul>
                    <li>Yes. So Use a <a href="http://en.wikipedia.org/wiki/Shim_(computing)" target="_blank">Shim</a> (ex : <a href="https://code.google.com/p/html5shim/" target="_blank">html5shim</a>) to fix this functionality or fallback to a value that is supported</li>
                    <li>No, it is an API ! So Use a <a href="http://remysharp.com/2010/10/08/what-is-a-polyfill/" target="_blank">polyfill</a> to replicate the entire API using JS, Flash, Silverlight...</li>
                </ul>
            </ul>

        </ul>
    </ul>
</div>