
<div class="bloc-content text-content">

	<p>
		You can use pseudo classes to customize the fullscreen styles
	</p>

	<button id="open"> Open in a FullScreen Mode</button>
	

	<editor editor-options="{showTabs: 'true', height: 400}">
		<file type="javascript" name="script.js">
var open = document.querySelector("#open");

open.removeEventListener("click");

open.addEventListener("click", function(e){
	if(document.webkitFullscreenEnabled)
		document.querySelector("div.text-content").webkitRequestFullscreen();
});

		</file>
		<file type="css" name="style.css">
.text-content:-webkit-full-screen {
	background-color: #CCCCCC;
}
.text-content:-webkit-full-screen button {
	background:#ccc;
}	

		</file>		
	</editor>	
</div>