<div class="bloc-content text-content">
	<div id="z1">
		<button id="open"> Open in a FullScreen Mode</button>
		<button id="exit"> Exit thes FullScreen Mode</button>
	</div>

	<editor  editor-options={height:'350'}>
		<file type="javascript" name="script.js">
var open = document.querySelector("#open");
var exit = document.querySelector("#exit");

open.removeEventListener("click");
exit.removeEventListener("click");

open.addEventListener("click", function(e){
	if(document.webkitFullscreenEnabled)
		document.querySelector("div.text-content").webkitRequestFullscreen();
});

exit.addEventListener("click", function(e){
	document.webkitExitFullscreen();	
});

		</file>	
	</editor>	
</div>