<div class="bloc-content text-content">
<ul>
	<li>Allow users to edit HTML content by using an attribute <span class="text-red">contenteditable</span></li>
	<li>Content can then be retrieved through js and then be used dynamically</li>
</ul>

    <editor editor-options="{showPreview:true}">
<file type="html" name="index.html">
&lt;p contenteditable&gt;This content id editable&lt;/p&gt;
&lt;span contenteditable&gt;This content is also editable&lt;/span&gt;
</file>
    </editor>

</div>
<div side-button title="Can I use" url="http://caniuse.com/#feat=contenteditable" image="images/html5-api/html5-logo.png"></div>
