<div class="bloc-content text-content">
<editor editor-options="{showTabs:true,height:650,jsFiddle:true, module:'app'}">
<file type="html" name="index.html">&lt;div ng-controller="homeCtrl" &gt;&lt;div class="col-sm-6"&gt;
&lt;form class="form-horizontal"&gt;
	&lt;fieldset&gt;
		&lt;legend&gt;Add a new home for listing.&lt;/legend&gt;
		&lt;div class="form-group"&gt;
			&lt;div class="col-sm-2"&gt;
				&lt;label for="address-box" class="control-label"&gt;Address&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="col-sm-9"&gt;
				&lt;input type="text" autofocus required class="form-control" ng-model="newHome.address"&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class="form-group"&gt;
			&lt;div class="col-sm-2"&gt;
				&lt;label for="address-box" class="control-label"&gt;City&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="col-sm-9"&gt;
				&lt;input type="text" required class="form-control" ng-model="newHome.city"&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;div class="col-sm-2"&gt;
				&lt;label for="address-box" class="control-label"&gt;Zip Code&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="col-sm-9"&gt;
				&lt;input type="text"  required class="form-control" ng-model="newHome.zip"&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;div class="col-sm-2"&gt;
				&lt;label for="address-box" class="control-label"&gt;Comments&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class="col-sm-9"&gt;
				&lt;textarea required class="form-control" ng-model="newHome.comments"&gt;&lt;/textarea&gt; 
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="form-group"&gt;
			&lt;div class="col-sm-9 col-sm-offset-2"&gt;
				&lt;button type="button" ng-click="reset()" class="btn btn-default"&gt;Clear&lt;/button&gt;
				&lt;button type="button" ng-click="add()" class="btn btn-primary"&gt;{{buttonLabel}}&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/fieldset&gt;
&lt;/form&gt;
&lt;/div&gt;
&lt;div class="col-sm-6"&gt;
	&lt;table class="table table-bordered table-striped table-hover"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Address&lt;/th&gt;
				&lt;th&gt;City&lt;/th&gt;
				&lt;th&gt;Action&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr ng-repeat="home in homes track by home.clientId"&gt;
				&lt;td&gt;{{home.address}}&lt;/td&gt;
				&lt;td&gt;{{home.city}}&lt;/td&gt;
				&lt;td&gt;
					&lt;button ng-click="select(home)" class="btn btn-default btn-xs"&gt;Select&lt;/button&gt;
					&lt;button ng-click="delete(home)" class="btn btn-default btn-xs btn-link"&gt;Delete&lt;/button&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;&lt;/div&gt;</file>
<file type="javascript" name="dbModel.js">var dbModel = (function(){
	var model = {
		name: 'HomesDB',
		version: 1,
		stores: {
			homes: {
				name: 'homes',
				key: {keyPath: 'clientId'},
				indexes:{
					city: {
						name: 'city',
						definition: {unique: false}
					}
				}
			}
		},
		upgrade: function(e){
			var
				newVersion = e.target.result,
				storeModel = dbModel.stores.homes,
				indexModel = storeModel.indexes.city,
				store;

			if(!newVersion.objectStoreNames.contains(storeModel.name)){
				store = newVersion.createObjectStore(storeModel.name,storeModel.key);

				store.createIndex(indexModel.name,indexModel.name,indexModel.definition);
			}
		}
	};
	return model;
})();</file>
<file type="javascript" name="localDatabase.js">var localDatabase = (function(){
  var _err ={
  	publisher: null, 
  	setErrorPublisher: function(publisherCallback){
  		_err.publisher = publisherCallback;
  	},
  	publishError: function(msg){
  		if(_err.publisher){
  			_err.publisher(msg);
  		}else{
  			console.warn(msg); 
  		}
  	},
  	defaultErrorHandler: function(e){
  		_err.publishError(e);
  	},
  	getFailHandler: function(fail){
  		return (fail === undefined) ? _err.defaultErrorHandler : fail;
  	},
  	setDefaultErrorHandler: function(request,customFailHandler){
  		customFailHandler = _err.getFailHandler(customFailHandler);

  		if(typeof request !== 'undefined'){
  			if('onerror' in request){
  				request.onerror = customFailHandler;
  			}
  			if('onblocked' in request){
  				request.onblocked = customFailHandler;
  			}
  			if('onabort' in request){
  				request.onabort = customFailHandler;
  			}
  		}
  	}
  }; 

  var _db = {
  	instance: null,
  	transactionTypes:{
  		readonly:'readonly',
  		readwrite: 'readwrite'
  	},
  	createUUID: function() {
	    // http://www.ietf.org/rfc/rfc4122.txt
	    var s = [];
	    var hexDigits = "0123456789abcdef";
	    for (var i = 0; i < 36; i++) {
	        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
	    }
	    s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
	    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
	    s[8] = s[13] = s[18] = s[23] = "-";

	    var uuid = s.join("");
	    return uuid;
	},
	createPersistentObject: function(){
		return {
			clientId: _db.createUUID(),
			insertDate: null,
			modifiedDate: null
		};
	},
	deleteDatabase: function(databaseModel, success, fail){
		if(_db.instance !== null && 'close' in _db.instance){
			_db.instance.close();
		}

		var deleteRequest = indexedDB.deleteDatabase(databaseModel.name);
		
		_err.setDefaultErrorHandler(deleteRequest,fail);

		deleteRequest.onsuccess = function(e){
			_db.instance = null;
			success(e);
		};
	},
	open: function (databaseModel,success,fail) {
		var openRequest = window.indexedDB.open(databaseModel.name, databaseModel.version);
		
		_err.setDefaultErrorHandler(openRequest,fail);
		
		openRequest.onupgradeneeded = databaseModel.upgrade;

		openRequest.onsuccess = function(e){
			_db.instance = e.target.result;
			success(e);
		};

	},
	getAll: function(objectStoreName,success,fail){
		fail = _err.getFailHandler(fail);

		if(_db.instance === null){
			fail("The Database has to be open to read from it");
			return;
		}
		var transaction = _db.instance.transaction([objectStoreName], _db.transactionTypes.readonly);
		_err.setDefaultErrorHandler(transaction,fail);

		var store = transaction.objectStore(objectStoreName);
		var countRequest = store.count();
		_err.setDefaultErrorHandler(countRequest,fail);

		var data = [];

		countRequest.onsuccess = function(countEventArgs){
			var totalCount = countEventArgs.target.result;

			cursorRequest = store.openCursor();
			_err.setDefaultErrorHandler(cursorRequest,fail);
			
			cursorRequest.onsuccess = function(cursorEventArgs){
				var result,item;

				result = cursorEventArgs.target.result;
				if(result !== null){
					item = result.value;
					data.push(item);

					if(data.length === totalCount){
						success(data);
					}else{
						result.continue();
					}
				}else{
					success(data);
				}
			};
		};
	},
	insert: function (objectStoreName, data, success, fail) {
		fail = _err.getFailHandler(fail);
		if(_db.instance === null){
			fail('Database must be open to insert data in it');
			return;
		}

		var transaction = _db.instance.transaction([objectStoreName],_db.transactionTypes.readwrite);
		_err.setDefaultErrorHandler(transaction,fail);

		var store = transaction.objectStore(objectStoreName);

		var date = new Date();
		data.insertDate = date;
		data.modifiedDate = date;
		var insertRequest = store.add(data);

		_err.setDefaultErrorHandler(insertRequest, fail);

		insertRequest.onsuccess = success;

	},
	"delete": function (objectStoreName, key, success, fail) {
		fail = _err.getFailHandler(fail);
		if(_db.instance === null){
			fail('Database must be open to delete data from it');
			return;
		}

		var transaction = _db.instance.transaction([objectStoreName],_db.transactionTypes.readwrite);
		_err.setDefaultErrorHandler(transaction,fail);

		var store = transaction.objectStore(objectStoreName);
		var deleteRequest = store.delete(key);

		_err.setDefaultErrorHandler(deleteRequest,fail);
		deleteRequest.onsuccess = success;
	},
	update: function (objectStoreName, data, key, success, fail) {
		fail = _err.getFailHandler(fail);
		if(_db.instance === null){
			fail('Database must be open to insert data in it');
			return;
		}

		var transaction = _db.instance.transaction([objectStoreName],_db.transactionTypes.readwrite);
		_err.setDefaultErrorHandler(transaction,fail);

		var store = transaction.objectStore(objectStoreName);

		var getRequest = store.get(key);
		_err.setDefaultErrorHandler(getRequest,fail);
		getRequest.onsuccess = function(e){

			var origData = e.target.result;
			if(origData !== null){
				data.insertDate = origData.insertDate;
				var date = new Date();
				data.modifiedDate = date;

				var updateRequest = store.put(data);

				_err.setDefaultErrorHandler(updateRequest,fail);
				updateRequest.onsuccess = function(e){
					success(data, e); 
				}
			}
		}
	},
	getById: function(objectStoreName, key, success, fail){
		fail = _err.getFailHandler(fail);

		if(_db.instance === null){
			fail("The Database has to be open to read from it");
			return;
		}
		var transaction = _db.instance.transaction([objectStoreName], _db.transactionTypes.readonly);
		_err.setDefaultErrorHandler(transaction,fail);

		var store = transaction.objectStore(objectStoreName);
		var getRequest = store.get(key);

		_err.setDefaultErrorHandler(getRequest,fail);
		getRequest.onsuccess = success;
	}
  };

  return {
  	setDefaultErrorHandler: _err.setDefaultErrorHandler,
  	setErrorPublisher: _err.setErrorPublisher,

  	createUUID: _db.createUUID,
  	createPersistentObject: _db.createPersistentObject,

  	deleteDatabase: _db.deleteDatabase,

  	open: _db.open,
  	getAll: _db.getAll,
  	insert: _db.insert,
  	"delete": _db.delete,
  	update: _db.update,
  	getById: _db.geById
  };

}());</file>
<file type="javascript" name="homeCtrl.js">//Don't pay attention to the $scope.$apply called.
//It's a code specific to AngularJS Framework to force the refresh of the view
angular.module('app',[]);
var homeCtrl = function($scope){
	var masterHome = {};
	$scope.newHome = {};
	$scope.homes = [];

	var init = function(){
		$scope.buttonLabel = "Add";
		localDatabase.setErrorPublisher(function(e){
			debugger;
		});

		localDatabase.open(dbModel,function(){
            getHomes();
        });
	};

    var getHomes = function(){

        var store = dbModel.stores.homes;

        localDatabase.getAll(store.name,function(data){
            $scope.$apply(function(){
            console.log('getAll');
            $scope.homes = data;
            });
        });

	};

	$scope.reset = function(){
        console.log("reset");
		$scope.newHome = angular.copy(masterHome);
		$scope.buttonLabel = "Add";
	};

	$scope.add = function(){

            var store = dbModel.stores.homes;
            if(!!$scope.newHome.clientId){
                console.log("update");
                localDatabase.update(store.name,$scope.newHome,$scope.newHome.clientId,function(){
                     $scope.$apply(function(){
                        $scope.buttonLabel = "Add";
                        $scope.reset();
                     });
                });


            }else{
                console.log("add");
                $scope.newHome.clientId = localDatabase.createUUID();

                localDatabase.insert(store.name, $scope.newHome, function(e){
                    $scope.$apply(function(){
                        $scope.homes.push($scope.newHome);
                        $scope.reset();
                    });
                });
            }
	};

	$scope.select = function(home){
		$scope.newHome = home;
        $scope.buttonLabel = "Update";
	};

	$scope.delete = function(home){

		var store = dbModel.stores.homes;
		localDatabase.delete(store.name,home.clientId,function(){
            $scope.$apply(function(){
			    $scope.homes.splice($scope.homes.indexOf(home),1);
            });
		});
	};


    init();

};
homeCtrl['$inject'] = ['$scope'];</file>

</editor>
<li>Same code as before</li>
<li>We just added some utils function that you might need and put some structure in localDatabase.js</li>
<li>You can reuse the localDatabase.js and dbModel.js file in your project as is.</li>
<li>See HomeCtrl.js for an example of use case</li>
<li>You can play it on jsFiddle too</li>

</div>

