<div class="bloc-content text-content">
    <ul>
    	<li>You could simply use it where it's possible and fallback by using localStorage, ajax with a server db ... </li>
    	<li>You could also use Polyfill that use WebSql (abandoned api)</li>
    	<ul><li><a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills#indexeddb" target="_blank">The All-in-One Entirely-Not-Alphabetical Guide to HTML5 Fallbacks</a></li></ul>
        <li>Browser support : <a href="http://html5please.com/#indexedDB" target="_blank">Html 5 please</a></li>
    </ul>
</div>
<div data-side-button url="http://caniuse.com/indexeddb" title="Can I Use"
     image="images/html5-api/html5-logo.png"></div>

