<div class="bloc-content text-content">

<ul class="small">
    <li>Events used by the API</li>
    <ul class="two_column x-small">
        <li class="text-red">onupgradeneeded</li>
            <ul>
                <li>event triggered when the version of the database change</li>
                <li>Enter in a transaction (versionchange) that allows you to create new object stores and indexes</li>
            </ul>
        <li class="text-red">onerror</li>
        <li class="text-red">onblocked</li>
        <li class="text-red">onsuccess</li>
    </ul>
</ul>

</div>
