<div class="bloc-content text-content">
    <p>indexedDB is a Data Store</p>
    <ul>
        <li>Contains Object Store</li>
        <li>Similar to noSql Databases document oriented (like a simplified version of MongoDB)</li>
        <ul>
            <li>store Object as is.</li>
            <li>We can create indexes</li>
            <li>Store data as pair of (key -> value) (like the localStorage)</li>
            <li>enforce security origin</li>
            <li>Database name</li>
            <li>Version number (integer or string)</li>
        </ul>

    </ul>
</div>