<div class="bloc-content text-content">

<p>PW8</p>

<ul clas="small">
	<li>
		Let’s do the following:
		<ul>
			<li>
				Store places data in a local DB when the application starts
			</li>
			<li>
				Use this local DB in main.js instead of doing ajax calls
			</li>
			<li>
				Use promises, which will help to get a more readable code, because indexedDB api is mostly based on callbacks
			</li>
		</ul>
	</li>
	<li> Remarks:
		<ul>
			<li>
				Promises normalized implementation is available 
				with newer versions of js only (1.6), which is
				 not really a problem because indexedDB is not so old ;-)
			</li>
		</ul>
</ul>

</div>