<div class="bloc-content text-content">

<p>
	<img src="images/keyrange.jpg" style="float:right" width="350"/> 
	<ul>
	<li>Use a range to get a according data by opening a cursor on an IDBIndex object</li>
	<li>
		Use a constraint to specify the cursor behavior:
		<ul>
			<li>'next': default order, 'nextunique': same than 'next' and disable duplicates</li>
			<li>'prev': reverse order, 'prevunique': same than 'prev' and disable duplicates</li>
		</ul>
	</li>
	</ul>
</p>

<div style="width:750px;">
<editor editor-options="{height:400}">
	<file type="javascript" name="range.js">

indexedDB.open('CursorDB').onsuccess= function(e0){

	var displayCursor= function(message, cursorRequest){

		cursorRequest.onsuccess= function(e){
			var res= e.target.result;
			if (res){
			    message+=  '\n (' + res.value.age + ', ' 
			    + res.value.firstName + ')\n';
				res.continue();
			}else{
			    console.log(message);
			}
		}
	}

	var db= e0.target.result;

	var range1= IDBKeyRange.upperBound(20),
	range2= IDBKeyRange.bound(18, 22),
	transaction= db.transaction(['people'],'readonly'),
	index= transaction.objectStore('people').index('age');

	displayCursor('range1', index.openCursor(range1));
	displayCursor('range2', index.openCursor(range2, 'prevunique'));
}

</file>
</editor>
</div>

</div>