<div class="bloc-content text-content">

<ul >
    <li>
        <em>readonly</em>:
        This mode means that the transaction is only allowed
        to read data. No modifications can be done. Several 
        <em>readonly</em> transactions can run at the same 
        time even if they are using the same object stores. 
        This type of transaction can be created any time once 
        a database has been opened using the
        <a href="#widl-IDBDatabase-transaction-IDBTransaction-DOMString-sequence-DOMString--storeNames-IDBTransactionMode-mode"><em>IDBDatabase.transaction</em></a> 
        method        
    </li>
    <li>
        <em>readwrite</em>
        This type of transaction is allowed to read, modify and
        delete data from existing object stores. However object stores and indexes can't be added or removed. They can't run at the same time if their <a title="scope" href="#dfn-scope" class="internalDFN">scopes</a> are overlapping. This type of transaction can be created any time once a database has been opened using the
        <a href="#widl-IDBDatabase-transaction-IDBTransaction-DOMString-sequence-DOMString--storeNames-IDBTransactionMode-mode"><code>IDBDatabase.transaction</code></a>
        method
    </li>
    <li>
        <em>versionchange</em>
        This is similar to a <code>"readwrite"</code> transaction,
        however it can additionally create and remove object 
        stores and indexes. It is the only type of transaction that
         can do so. This type of transaction can't be manually 
         created, but instead is created automatically when a 
         <a href="#dfn-upgradeneeded" class="internalDFN"><code>upgradeneeded</code></a> 
         event is fired.

    </li>
</ul>