<div class="bloc-content text-content contents">

	<ul>
		<li>
			As new HTML tags, <strong>microdata</strong> gives more semantic informations
			to your documents
		</li>
		<li>
			Custom attributes allow to annotate your code
		</li>
		<li>
			Machine-readable labels: can be used by Google for example
		</li>
			Comparable to <i>microformats</i>, but gives more capabilities:
			<ul>
				<li>
					<strong>Microformats</strong> are not HTML5 specific
				</li>
				<li>
					<a 
						href="https://support.google.com/webmasters/answer/99170?hl=en"
						target="_blank"
					>
						<i>Google</i> suggests using <strong>Microdatas</strong>
				 	</a>
				</li>
				<li>
					<strong>Microformats</strong> are based on classes,
					which can impact your stylesheets
				</li>
			</ul>
		</li>
		<li>
			<a href="http://schema.org/" target="_blank">Schema.org</a>
			defines a markup langage recognized by most search engines
			(Yahoo, Bing, Google, Yandex) and its vocabulary is rich
		</li>
		<li>
			Main interest is to say to the search engine that an information
			is specific to a person, a movie, a recipe...
		</li>
	</ul>

</div>
