<div class="bloc-content text-content contents">

	<ul>
		<li>
			<strong> itemscope </strong> just tells:
			be aware that my content is a specific item, nothing more
		</li>
		<li>
			<strong> itemtype </strong> specifies the type of item
		</li>
	</ul>

	<editor editor-options="{compileCode: false, showTabs: true}">
		<file name="sample.html" type="html">
&lt;div itemscope itemtype="http://schema.org/Movie"&gt;
  &lt;h1&gt;The Big Lebowski&lt;/h1&gt;
  &lt;span&gt;Director: Ethan Coen&lt;/span&gt;
  &lt;span&gt;comedy&lt;/span&gt;
  &lt;a href="./url/to/trailer"&gt;Trailer&lt;/a&gt;
&lt;/div&gt;			
		</file>
	</editor>

</div>
