<div class="bloc-content text-content">
    <ol class="two_column"><li>Performance</li>
    <li>Speed</li>
    <li>Reduce waiting times</li>
    <li>Launch while offline</li></ol>
    <p>3 ways to get content to users quickly</p>
    <ol>
        <li><img  src="images/html5-api/server.png" width="10%" alt=""/> <p>Server optimization</p></li>
        <li><img src="images/html5-api/network.png" width="8%" alt=""/> <p>Network delivery optimizations</p></li>
        <li><img src="images/html5-api/browser.png" width="9%" alt=""/> <p>Browser caching</p></li>
    </ol>
</div>