<div class="bloc-content text-content">
<ul>
    <li>Write a manifest file that will allow to use our web application offline</li>
    <li>Create and animate a progress bar during the caching of all of the assets</li>
    <li>Display a proper message when switching from online to offline</li>
    <li>Complete the <span class="text-red">index.html</span> file and the <span class="text-red">cache.js</span> file</li>
    <li>Disable your connection and test that the application is still workking</li>
</ul>
</div>