<div class="bloc-content text-content">
    <ul>
        <li>A the time begin (Summer 2014) only Webkit (Chrome, Opera and their mobile version) and BlackBerry implement
            this API
        </li>
    </ul>
    <ul>
        <li>There are some polyfills and fallback out there we can use for unsupported Browser</li>
        <ul>
            <li>Take a look at the <a href="https://github.com/ebidel/idb.filesystem.js" target="_blank">idb.filesystem.js polyfill by Eric Bidelman (use Indexeddb)</a></li>
        </ul>
    </ul>
    <ul>
        <li>Things to keep in mind</li>
        <ul>
            <li>It 's not transactional. You can't be sure that the files are beeing saved successfully even if the callback success triggered</li>
            <li>You can't search for files and in directory and file content in file</li>
            <li>As all storage API, it's browser specific</li>
        </ul>
    </ul>


</div>
<div data-side-button url="http://caniuse.com/filesystem" title="Can I Use"
     image="images/html5-api/html5-logo.png"></div>
