<div class="bloc-content text-content">

<editor editor-options="{showTabs:true,height:650}">
<file type="javascript" name="script.js">window.requestFileSystem =
    window.requestFileSystem ||
    window.webkitRequestFileSystem;


var asBytes = function(size){
    return size * 1048576;
};

var size = asBytes(2);

//navigator.webkitPersistentStorage.requestQuota...
navigator.webkitTemporaryStorage.requestQuota(size, function (grantedBytes) {
    console.log('Attempting to request ' + grantedBytes );

    if(grantedBytes === size){
        window.requestFileSystem(
            window.TEMPORARY,  // OR window.PERSISTENT
            grantedBytes,
            fileSysterSuccessHandler,
            fileSystemErrorHandler);
    }
},fileSystemErrorHandler);

function fileSysterSuccessHandler(fileSystem){
    console.log("File system initialized");
    console.log(fileSystem);

}
function fileSystemErrorHandler(fileError){
    var msg = 'Error initializing file system. ';
    switch(fileError.code){
        case FileError.NOT_FOUND_ERR: //1
            msg += 'File or directory not found. ';
            break;

        case FileError.SECURITY_ERR: //2
            msg += 'Security Error. ';
            break;

        case FileError.ABORT_ERR:
            msg += 'Abort error. ';
            break;
        // Other cases ... See FileError.prototype for complete list
    }

}</file>
</editor>

</div>

