<div class="bloc-content text-content">
    <p>The API is Asynchronous</p>
    <ul>
        <li>We deal with callbacks (lot of them) when using the file System API</li>
        <li>The data are sandboxed</li>
            <ul><li>Access limited to the same origin domain (like others html5 storage api)</li></ul>
    </ul>
    <ul>
        <li>Capacity</li>
        <ul>
            <li>No recommendation on allocated size from <a href="http://www.w3.org/TR/file-system-api/" target="_blank">W3C specification</a></li>
            <li>It depends of browser but you can store pretty large file (over 50Mb/file on Chrome)</li>
        </ul>
    </ul>


</div>