<div class="bloc-content text-content">
    <p>What is HTML5 File System ?</p>
    <ul>
        <li>You can make CRUD operation on files and folders</li>
        <li>You can read content of file</li>
        <li>You can replace part or whole content of file</li>
    </ul>
    <p>No built in resource inspector (like for localStorage or IndexedDB) for File System</p>
    <ul>
        <li>Tool : Peephole (Chrome extension for file system api)</li>
        <li>Other name : HTML5 FileSystem Explorer</li>
    </ul>
</div>