<div class="bloc-content text-content">
    <ul>
        <li>You can store files in Temporary and in Persistent storage</li>
        <ul>
            <li>Files stored in Temporary storage</li>
            <ul>
                <li>can be deleted by the browser at any time</li>
                <li>Dos not need an explicit approval by the user</li>
            </ul>
            <li>Files stored in Persistent Storage</li>
                <li>Can be stored in the browser permanently until delete by the user</li>
                <li>Need explicit approval by the user</li>
        </ul>
    </ul>
</div>
