<div class="bloc-content text-content">
	<ul class="small">
		<li>
			<strong>aside</strong>:
			<ul>
				<li>defines some content aside from the content it is placed in</li>
				<li> should be related to the surrounding content</li>
				<li>You could understand it as a transversal information, or ar as a something to give others informations related to the website content</li>
			</ul>
		</li>
	</ul>

	<editor editor-options="{showTabs: true,height: 300, compileCode: false}">

		<file type="html" name="aside.html">

&lt;p&gt;
	I am actually working on an HTML5 formation, 
	and will continue with javascript
&lt;/p&gt;

&lt;aside&gt;
  &lt;h4&gt;HTML5&lt;/h4&gt;
  &lt;p&gt;
	  HTML5 is a core technology markup language of 
	  the Internet used for structuring and presenting content ...
  &lt;/p&gt;
&lt;/aside&gt;

		</file>

	</editor>


</div>