<div class="bloc-content text-content">


	<ul>
		<li>
			HTML5 comes with new <strong>semantic</strong> elements.
		</li>
		<li>
			Semantic means that these elements have a meaning, 
			both for the developer and the browser
		</li>
		<li>
			<code>div</code> and <code>span</code> are not semantic elements
		</li>
		<li>
			while <code>form</code>, <code>table</code> and <code>img</code> are semantic elements,
			because they clearly define their contents
		</li>
		<li>
			Notion of <strong>Semantic</strong> is important, because the document gives more information
			<ul>
				<li>
					Allows <i>agents</i> to understand the page, make correlation between pages
					<ul>
						<li>
						Example: the <code>nav</code> tag could help a search engine to display links directly in the result
						</li>
					</ul>
				</li>
				<li>
					Also important for the accessibility (audio browser)
				</li>
			</ul>
		</li>
	</ul>

</div>