
<div class="bloc-content text-content">


	<p>
		<a href="images/PinIt.png" target="_blank">
			<img src="images/PinIt.png" style="width:10em;" />
		</a>

		<a href="images/outline.jpg" target="_blank">
			<img src="images/outline.jpg" style="width:10em;" />
		</a>

	</p>


	<ul>
		<li>
		Considering the two documents above, make your own web page using HTML5 tags
		 which respects the same structure (don't consider presentation aspect, just content)
		 	<ul>
		 		<li>
					The image on the left represent a web page developped with HTML5
		 		</li>
		 		<li>
		 			The image on the right is the <i>outline</i> of the page
		 		</li>
		 	</ul>
		</li>
	</ul>

	<p class="todo"> Voir avec Angella pour l'outline, me semble qu'y avait une erreur</p>



</div>