<div class="bloc-content text-content">


<p>
	Below are new HTML5 semantic tags. Several of them help to structure the page.
	<img style="float:right;" src="images/img_sem_elements.gif" />
</p>

	<ul class="small">
		<li><code>header</code></li>
		<li><code>footer</code></li>
		<li><code>main</code></li>
		<li><code>nav</code></li>
		<li><code>section</code></li>
		<li><code>article</code></li>
		<li><code>aside</code></li>
		<li><code>figure</code></li>
		<li><code>figcaption</code></li>
		<li><code>details</code></li>
		<li><code>summary</code></li>
		<li><code>mark</code></li>
		<li><code>time</code></li>
	</ul>

</div>