<div class="bloc-content text-content">

    <p> 2 versions of the API</p>
    <ul>
        <li>The asynchronous one, for user actions: We deal with callbacks (lot of them)</li>
        <li>The synchronous one, makes the development easier, but could block the user, so to use with WebWorkers only</li>
    </ul>

    <p> Some remarks </p>
    <ul>
        <li>The data are sandboxed: Access limited to the same origin domain (like others html5 storage api)</li>
        <li>Capacity</li>
        <ul>
            <li>No recommendation on allocated size from <a href="http://www.w3.org/TR/file-system-api/" target="_blank">W3C specification</a></li>
            <li>It depends of browser but you can store pretty large file (over 50Mb/file on Chrome)</li>
        </ul>
    </ul>

</div>