<div class="bloc-content text-content">
    <p>If you know a browser will not be supporting your application, you can still warn the user:</p>

    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>

    <editor>
        <file name="index.html" type="html">&lt;!--[if lt IE 7]&gt;
    &lt;p class="browsehappy"&gt;You are using an &lt;strong&gt;outdated&lt;/strong&gt; browser.
    Please &lt;a href="http://browsehappy.com/"&gt;upgrade your browser&lt;/a&gt;
    to improve your experience.&lt;/p&gt;
&lt;![endif]--&gt;</file>
    </editor>
</div>