<div class="bloc-content text-content">

	<ul>
		<li>Geolocation allows to retrieve data concerning the position of a device</li>
		<li>Several mechanisms exist to get the position, with more or less precision
			<ul>
				<li>GPS</li>
				<li>GSM triangulation</li>
				<li>WIFI triangulation</li>
				<li>IP address translation</li>
			</ul>
		</li>
		<li>Data retrieved can easily be used to display the user position on a map or 
		get its country when a form is submit...
		</li>
		<li>Browser ask for the user authorization before using this API
		</li>		
	</ul>

</div>