<div class="bloc-content text-content">
    <p>indexedDB is a Data Store</p>
    <ul>
        <li>Contains Objects Stores</li>
        <li>Similar to noSql Databases document oriented (like a simplified version of MongoDB)</li>
        <ul>
            <li>Store an object as is (object store...)</li>
            <li>Use indexes (allows to retrieve data based on a value of the index)</li>
            <li>Store data as pair of (key -> value) (like the localStorage, but the value is an object)</li>
            <li>enforce security origin</li>
            <li>Database is named and specific to an application</li>
            <li>Has a version number (integer or string)</li>
        </ul>

    </ul>
</div>