<div class="bloc-content text-content">
	<ul>
		<li>Give the ability to find DOM elements using CSS selectors</li>
		<ul>
			<li>getElementById</li>
			<li>getElementsByTagName</li>
			<li>getElementsByTagNameNS</li>
			<li>getElementsByClassName</li>
			<li>getElementsByName</li>
		</ul>
		<li>Use very basic selectors</li>
		<li>Return a Dynamic NodeList collection</li>
	</ul>

		<editor>
		<file type="javascript" name="script.js">
partial interface HTMLDocument {
	Element  getElementById(in DOMString elementId);
	NodeList getElementsByTagName(in DOMString name);
	NodeList getElementsByTagNameNS(in DOMString namespaceURI, in DOMString name);
	NodeList getElementsByClass(in DOMString class);
	NodeList getElementsByName(in DOMString name);
}

partial interface HTMLElement {
	NodeList getElementsByTagName(in DOMString name);
	NodeList getElementsByTagNameNS(in DOMString namespaceURI, in DOMString name) raises(DOMException);
	NodeList getElementsByClass(in DOMString class);
}

//Sample
var el = document.getElementById("elementId");
var inputs = el.getElementsByTagName("input");
		</file>	
	</editor>	
</div>