<div class="bloc-content text-content">
	
		<ul>
			<li>You should use querySelector where only the first matching element is needed</li>
			<li>querySelector do not parse all the DOM element</li>
		</ul>
		<editor editor-options="{showTabs:true}">
		<file type="html" name="index.html">
&lt;ul id="fruits"&gt;
  &lt;li&gt;&lt;input type="checkbox" name="fruit" value="apples"&gt; Apples&lt;/li&gt;
  &lt;li&gt;&lt;input type="checkbox" name="fruit" value="oranges"&gt; Oranges&lt;/li&gt;
  &lt;li&gt;&lt;input type="checkbox" name="fruit" value="bananas"&gt; Bananas&lt;/li&gt;
  &lt;li&gt;&lt;input type="checkbox" name="fruit" value="grapes"&gt; Grapes&lt;/li&gt;
&lt;/ul>

		</file>	
		<file type="javascript" name="script.js">
var first = document.querySelector("#fruits input");

//Not optimized
var first = document.querySelectorAll("#fruits input")[0];

		</file>	
	</editor>	
</div>