<div class="bloc-content text-content contents">

	<ul>
		<li>
			Best friend to test and debug html5/css3 applications is the browser
		</li>
		<li>
			All modern browsers have a development console, which allows to get informations concerning
			<ul>
				<li>The DOM</li>
				<li>Stylesheets</li>
				<li>Javascript</li>
				<li>Network</li>
				<li>...</li>
			</ul>
		</li>
		<li>
			Use it as often as possible
			<ul>
				<li>&lt;F12&gt; on Chrome and Firefox</li>
			</ul>
		</li>
	</ul>

</div>