<div class="bloc-content text-content contents">

	<ul>
		<li>
			Created by <i>Tim Berners-Lee</i> in 1980 for the CERN (European Organization for Nuclear Research)
		</li>
		<li>
			Based on SGML (Standard Generalized Markup Language), 
			HTML (HyperText Markup Language) starts with 18 elements.
		</li>
		<li class="todo">
			<a href="http://en.wikipedia.org/wiki/HTML#History" target="_blank"> ici </a>
			Dates des différentes versions, W3C, WHATWG, HTML "living specs", séparation CSS
		</li>
	</ul>

</div>