<div class="bloc-content text-content contents">

	<ul>
		<li>
			The IDE you will use remains a personal choice, but there are interesting tools:
			<ul>
				<li>
					<a href="http://www.jetbrains.com/webstorm/" target="_blank">Webstorm</a>: 
					<ul>
						<li>
							Very good for everything in relation with js/html/css
						</li>
						<li>
							Lots of shortcuts, auto completion, templating features, run servers, lots of plugins
						</li>
						<li>
							But ... not free
						</li>
					</ul>
				</li>
				<li>
					<a href="http://www.sublimetext.com/3" target="_blank">Sublime text</a>: 
					<ul>
						<li>
							Simple text editor, but with great plugins
						</li>
					</ul>
				</li>				
			</ul>
		</li>
	</ul>

</div>