<div class="bloc-content text-content contents">
	<li>
	About this course
		<ul>
			<li>
				HTML5 is not a little subject which can be fully 
				covered in a few days
			</li>
			<li>
				This part of the formation focuses on most important 
				HTML5 notions, excepted APIs which are covered in another 
				session, and which are a big part of HTML5
			</li>
			<li>
				In other words, for the HTML part, the aim of this course is to
				give best practices to make your content as consistant as possible

			</li>
		</ul> 
	</li>
</div>
