<div class="bloc-content text-content">

	<ul>
		<li> 
			Specify the url of your file by using the <em>script</em> tag
			with the <i>src</i> attribute
		</li>
		<li>
			Remember that <i>javascript</i> isn't a compiled language and
			that the order in which the files are imported is also the order
			in which they are executed
		</li>
	</ul>

	<editor editor-options="{showPreview:false,height:200,compileCode:false,angular:false}">
		<file type="html" name="index.html">
&lt;html&gt;
	&lt;head&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;script src="js/script1.js" type="text/javascript" &gt;&lt;/script&gt;
		&lt;script src="js/script2.js" type="text/javascript" &gt;&lt;/script&gt;
	&lt;/body&gt;

&lt;/html&gt;
		</file>	
	</editor>

</div>