<div class="bloc-content text-content">

	<ul>
		<li> 
			Utiliser le tag <i>script</i>, et utiliser l'attribut 
			<i>src</i> pour préciser son url.
		</li>
		<li>
			Se rappeler que <i>javascript</i> n'est 
			pas un langage compilé, et l'ordre dans lequel sont importés les scripts
			est donc important
		</li>

	</ul>

	<editor editor-options="{showPreview:false,height:200,compileCode:false,angular:false}">
		<file type="html" name="index.html">
&lt;html&gt;
	&lt;head&gt;
		&lt;script src="js/script1.js" type="text/javascript" &gt;&lt;/script&gt;
		&lt;script src="js/script2.js" type="text/javascript" &gt;&lt;/script&gt;
	&lt;/head&gt;
&lt;/html&gt;			
		</file>	
	</editor>

</div>