<div class="bloc-content text-content">

	<ul>
		<li>Utilisé encore majoritairement pour le Web (avec HTML et CSS)</li>
		<li>Même si ces fonctionalités couvrent de plus en plus de fonctionalités
			<ul>
				<li><i>nodejs</i> fournit un moteur js qui permet d'exécuter des scripts comme une application lourde</li>
				<li>Cordova permet de faire des applications mobiles en se basant notamment sur js</li>
			</ul>
		</li>
		<li>Dans le contexte web, language de script exécuté côté client</li>
		<li>
			Permet de dynamiser une page Web
			<ul>
				<li>Intéreaction avec l'utilisateur</li>
				<li>Réaliser des animations</li>
				<li>Des diaporamas</li>
				<li>Des requêtes Ajax</li>
				<li>...</li>
			</ul>
		</li>
	</ul>

</div>