<div class="bloc-content text-content">

	<ul>
		<li>Javascript : created in 1995</li>
		<li>Each browser had its own implementation</li>
		<li>Differents syntaxes for the same action</li>
		<li> => Low productivity</li>
		<li> 
			Frameworks have appeared in order to:
			<ul>
				<li> Ease devlopments </li>
				<li> Add an abstraction layer to treat differences between browsers </li>
			</ul>
		</li>
	</ul>

	<p>
		<img src="images/f5ed658c.prototype.gif" width="10%" />
		<img src="images/4792cd2a.jquery.png" width="10%" />
		<img src="images/fcddb4e8.mootools.gif" width="20%"/>
	</p>
</div>