<div class="bloc-content text-content">
       <p><a href="http://requirejs.org/" target="_blank">RequireJS</a> is an other Asset loader. It provide also a bit of dependency management.</p>

    <ul>
        <li>Load the app with the <span class="text-red">data-main</span> attribute (extension optional)</li>
    </ul>
    
    <editor editor-options="{showPreview:false,showTabs:true,height:200,compileCode:false,angular:false}">
<file type="html" name="index.html">&lt;!doctype html&gt;
&lt;html lang="en"&gt;
    &lt;head&gt;&lt;/head&gt;
&lt;body&gt;
&lt;!--....--&gt;
&lt;script data-main="main.js" src="require.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</file>

    </editor>
</div>