<div class="bloc-content text-content">

	<button id="classlist_button">Change CSS</button>
	<p id="demo_classlist">
		Element using CSS
	</p>

	<editor>
		<file type="javascript" name="script.js">
var p = document.getElementById("demo_classlist");
var button = document.getElementById("classlist_button");

button.addEventListener("click", function(){
	//p.classList.add("text-red");
	
	//p.classList.remove("text-red");
	
	p.classList.toggle("text-red");

	console.log(p.classList.length);

	console.log(p.classList.contains("text-red"));
});
		</file>	
	</editor>	



</div>