<div class="bloc-content text-content small">


<ul>
    <li>
        Workers can create subworkers in the same way that previously samples
    </li>
    <li>
        Workers <span class="text-red">can not</span>
        access to the DOM, to the <i>window</i> object or to the <i>document</i> object
    </li>
    <li>
        But most APIs are still asynchronous, so why would I work on a specific thread?
        <ul>
            <li>
            It's really interesting when you want to deal with blocking tasks, like calculation.
            And if your calculation depends on data from others APIs, that's fine, you can use them.
            </li>
        </ul>
    </li>
   
</ul>




</div>