<div class="bloc-content text-content">

	<ul>
		<li>Mostly used for the web (with HTML and CSS)</li>
		<li>Even if it is more and more used for other functionalities
			<ul>
				<li><em>nodejs</em> provides a JS motor which allows to execute JS scripts and so to make any kind of application</li>
			</ul>
		</li>
		<li>In the web context, JS is executed on the client side, with your browser</li>
		<li>
			Allows to dynamise a web page (which can be a SPA)
			<ul>
				<li>Manage user interactions</li>
				<li>Ajax requests</li>
				<li>Make animations</li>
				<li>Access to APIs provided by the browser</li>
				<li>...</li>
			</ul>
		</li>
	</ul>

</div>